@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-image: url('../img/bg.jpg');
	padding: 1em;
	font-family: sans-serif;
}

$red: rgb(175, 56, 48);
$gray: rgb(138, 137, 135);

/************************
General Styling
************************/

a {
	text-decoration: none;
	color: white;
}

/************************
Social Styling
************************/

.social {
	width: 100%;
	height: 70px;
	text-align: right;
	color: white;
}

.social a:first-child {
	padding: 1em;
	font-size: 1em;
}

.social .fa {
	width: 5%;
	padding: .5em;
	line-height: 100%;
	box-shadow: 0 3px 2px $gray;
	font-size: 1.5em;
}

.social .fa:hover {
	cursor: pointer;
}

.social .fa:first-child {
	font-size: .2em;
	box-shadow: none;
	vertical-align: middle;
	text-align: left;
}

.social .fa:nth-child(2) {
	font-size: 1.2em;
	box-shadow: none;
	width: 1%;
	vertical-align: middle;
	text-align: left;
}

.social .fa-facebook {
	background-color: rgb(69, 89, 149);
	color: rgb(117, 130, 178);
	padding-right: .7em;
}

.social .fa-rss {
	background-color: rgb(203, 142, 60);
	color: rgb(215, 170, 104);
}

.social .fa-twitter {
	background-color: rgb(106, 141, 196);
	color: rgb(144, 169, 209);
}

.social .fa-youtube {
	background-color: $red;
	color: rgb(192, 103, 98);
}

.container {
	@include outer-container(980px);
}

/*************************
Main Navigation Styling
*************************/

nav {
	width: 100%;
	@include clearfix;
	margin-bottom: 1em;
}

nav ul a {
	display: inline-block;
	text-align: center;
	font-weight: 100;
	height: 30px;
	line-height: 30px;
	box-shadow: 0 2px 3px $gray;
}

nav .fa {
	margin-right: 1em;
	margin-left: 1em;
}

.site-link {
	@include span-columns(3);
	background-color: $red;
	color: white;
}

/*************************
Banner Styling
*************************/

.banner {
	background-image: url('../img/top-image.png');
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	width: 100%;
	height: 20em;
	margin-bottom: 1em;
	border: 7px solid white;
	box-shadow: 0 3px 2px $gray;
}

.banner-grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .4;
	z-index: 2;
}

.banner .logo {
	z-index: 99;
	position: relative;
	margin-top: 5%;
	margin-left: 3%;
}

/*************************
Article Styling
*************************/

.news {
	width: 100%;
}

.news-item {
	@include span-columns(4);
	background-color: white;
	padding: 1em;
}

.news a {
	color: $red;
	margin-left: 15%;
}

/*************************
Skateboarders Styling
*************************/

/*************************
Designs Styling
*************************/

.designs {
	background-color: white;
}

/*************************
Contact Styling
*************************/

.contact {
	background-color: white;
}